.App {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: pink;

    .container {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        padding: 0px 2rem;
        width: 30rem;
        text-align: center;
        background-color: lavenderblush;

        textarea {
            height: 8rem;
            padding: 1rem;
            background-color: lavender;
            
        }

        p {
            margin: 2rem 0;
            align-self: flex-start;
        }
    }

    

}